{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva Contraseña</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="right-section">
            <h2>Establecer Nueva Contraseña</h2>
            
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="input-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}<p style="color: red;">{{ field.errors }}</p>{% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn-primary" style="margin-top: 20px;">
                        Cambiar Contraseña
                    </button>
                </form>
            {% else %}
                <h2>Enlace Inválido o Expirado</h2>
                <p>El enlace que utilizaste no es válido, posiblemente porque ya se ha usado o ha expirado (recuerda que dura 5 horas).</p>
                <a href="{% url 'password_reset' %}" class="btn-primary" style="display: inline-block;">Solicitar un nuevo restablecimiento</a>
            {% endif %}
        </div>
    </div>
</body>
</html>