{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Completado</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="right-section" style="text-align: center;">
            <h2>¡Contraseña Cambiada!</h2>
            <p>Tu contraseña ha sido restablecida con éxito. Ya puedes iniciar sesión con tu nueva clave.</p>
            <a href="{% url 'login' %}" class="btn-primary" style="display: inline-block; margin-top: 20px;">
                Iniciar Sesión
            </a>
        </div>
    </div>
</body>
</html>