{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}"> </head>
<body>
    <div class="container">
        <div class="right-section">
            <h2>Restablecer Contraseña</h2>
            <p>Ingresa tu dirección de correo electrónico a continuación. El enlace será válido por 5 horas.</p>

            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="input-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}{{ field.errors }}{% endif %}
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn-primary" style="margin-top: 20px;">
                    Enviar Instrucciones
                </button>
            </form>
            <p style="margin-top: 15px;"><a href="{% url 'login' %}">← Volver al Login</a></p>
        </div>
    </div>
</body>
</html>